name: Pylint

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        pip install pylint aiosqlite aiohttp
    - name: Pylint
      run: |
        pylint --disable=C,R --errors-only $(git ls-files '*.py')
